<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <main>
      <div>
        <h1>{{detailed_view.name}}</h1>
        {% comment %} # that's a key in the todolistdetail function^, which can
        access name in the Todolist model bc we access it in the function w
        getobject method {% endcomment %}

        <h2>Tasks</h2>
        <table>
          <thead>
            <tr>
              <th>Task</th>
              <th>Due Date</th>
            </tr>

            <tr>
              {% for detail in detailed_view.items.all%} {% comment %} I made up
              the detail variable. Detailed_view items all gets everything in
              todolist {% endcomment %} {% comment %} the .item references the
              related name in the foreign key {% endcomment %}
              <td>{{detail.task}}</td>
              {% comment %} made up variable then summoning an attribute in
              either model {% endcomment %}
              <td>{{detail.due_date}}</td>
            </tr>
            {% endfor %}
          </thead>
        </table>
      </div>
    </main>
  </body>
</html>
