<!DOCTYPE html>
<html>
  <head>
    <title>To Do Lists</title>
  </head>
  <body>
    <main>
      <div>
        <h1>My Lists</h1>
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Number of Items</th>
            </tr>
          </thead>
          <tbody>
            {%for list in biglists %}
            <tr>
              <td> <a href={%url 'todo_list_detail' list.id %}>{{list.name}}</a></td>
              {% comment %} url runs the webpage the function renders, and list.id = {% endcomment %}
              <td>{{list|length}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </main>
  </body>
</html>
